html {
    border: 2px solid red;
    font-size: 2rem;
    font-family: 'Franklin Gothic Light', 'Arial Narrow', Arial, sans-serif;
    background: linear-gradient(lightyellow, orange);
}

header {
    margin-bottom: 30px;
    text-align: center;
    border: 2px solid green;
}
/*Buttons, drop-downs, etc. need to be styled seperately from the rest of the document*/
select {
    font-size: 1.1rem;
}

.section-container {
    display: flex;
    flex-direction: row;
    border: 2px solid blue;
    /*vw and vh are viewport width/height and assigns the distance based on a percentage of the current viewport*/
    padding-left: 10vw;
    padding-right: 10vw;
}

.column {
    border: 2px solid green;
}